div .img{
    object-fit: contain;
    box-shadow: #747575;
    max-height: fit-content;
    max-width: fit-content;
    margin: auto;
}
div .img:hover{
    transition: 2s;
    color: #0d55e4;
    filter: opacity(0.9);
    transform: scale(1.04);
    object-fit: cover;
    box-shadow: #747575;
    
}